target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
logs/
#template-lib-api/src/
#template-lib-common/src/main/resources/
#template-lib-common/src/test/
#template-lib-com.example.service/src/test/java/com/raycloud/test/TestDB.java
/template-lib-web/src/test/
/template-lib-com.example.service/src/test/
!/template-lib-web/src/main/webapp/logs/
/.idea/
/code/
/target/
